.all-cards {
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 450px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

.card {
    display: inline;
    background: url("images/cardback.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}

.header{
   max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 150px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}
.counter{
    color: red;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.6);
}
.points {
    color: red;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.6);
}
.score{
    color: red;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 60px;
    text-align: center;
}
.argenthorse {
    display: inline;
    background: url("cards/argenthorse.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.aya {
    display: inline;
    background: url("cards/aya.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.baneod {
    display: inline;
    background: url("cards/baneod.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.confessor {
    display: inline;
    background: url("cards/confessor.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.drboom {
    display: inline;
    background: url("cards/drboom.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.elemd {
    display: inline;
    background: url("cards/elemd.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.ferals {
    display: inline;
    background: url("cards/ferals.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.huffer {
    display: inline;
    background: url("cards/huffer.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.iceblock {
    display: inline;
    background: url("cards/iceblock.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.leeroy {
    display: inline;
    background: url("cards/leeroy.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.looth {
    display: inline;
    background: url("cards/looth.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.mirrorentity {
    display: inline;
    background: url("cards/mirrorentity.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.mysterious {
    display: inline;
    background: url("cards/mysterious.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.noviceeng {
    display: inline;
    background: url("cards/noviceeng.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.piloteds {
    display: inline;
    background: url("cards/piloteds.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.rhino {
    display: inline;
    background: url("cards/rhino.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.seagiant {
    display: inline;
    background: url("cards/seagiant.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.wele {
    display: inline;
    background: url("cards/wele.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.wolfrider {
    display: inline;
    background: url("cards/wolfrider.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.chicken {
    display: inline;
    background: url("images/chicken.png");
    width: 150px;
    height: 207px;
    background-size: 150px 207px;
}
.myButton {
	box-shadow: 0 0 21px 5px #fff6af;
    background: #ffec64 linear-gradient(to bottom, #ffec64 5%, #946315 100%);
    border-radius:42px;
	display:block;
	cursor:pointer;
	color:#333333;
    font-family: Arial, serif;
	font-size:28px;
	font-weight:bold;
	padding:10px 45px;
	text-decoration:none;
	text-shadow:0 1px 0 #ffee66;
    margin: 20%;
}
.myButton:hover {
    background: #946315 linear-gradient(to bottom, #946315 5%, #ffec64 100%);
}
.myButton:active {
	position:relative;
	top:1px;
}
.button-wrap {
    padding: 300px 43%;
    text-align: center;
}
.body{
    background-image: url("images/board.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
}
.body2{
    background-image: url("images/menu.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
}
.minutes {
    color: red;
    font-size: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 85px;
}
.seconds {
    color: red;
    font-size: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100px;
    margin-right: 50px;
}